.immeta-title-bar {
  padding: 20px 40px;
  display: inline-block;
  text-align: center;
  margin: 40px auto 50px;
  font-size: 36px;
  letter-spacing: 2px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #FFF;
}

.immeta-title-bar::after, .immeta-title-bar::before {
  content: "";
  display: block;
  position: absolute;
  border: 15px solid transparent;
}

.immeta-title-bar::after {
  bottom: 0;
  left: 0;
  border-bottom-color: #09D315;
  border-left-color: #09D315;
}

.immeta-title-bar::before {
  top: 0;
  right: 0;
  border-top-color: #1557EF;
  border-right-color: #1557EF;
}

@media screen and (max-width: 880px) {
  .immeta-involvement {
    margin: 20px auto;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .intro-item, .econ-item {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 570px) {
  .immeta-nav .nav-bar {
    display: none !important;
  }
  .immeta-involvement {
    margin: 20px auto;
  }
  .intro-item .txt-box, .econ-item .txt-box {
    min-width: initial;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: rgba(9, 211, 21, 0.05);
    padding: 10px;
    border-radius: 25px;
  }
  .intro-item .txt-box dt, .econ-item .txt-box dt {
    font-size: 28px;
  }
  .intro-item .txt-box dd, .econ-item .txt-box dd {
    font-size: 16px;
  }
  .econ-item .txt-box {
    background: rgba(21, 87, 239, 0.05);
  }
  .immeta-involvement .rg {
    flex: auto;
  }
}
